<div class="logo">
    <div class="logo-normal">
        <a href="https://www.creative-tim.com" class="simple-text">
            Monster
            <b>T</b>
        </a>
    </div>

    <div class="logo-img">
        <img src="/assets/img/1.jpg" />
    </div>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="../assets/img/2.jpg" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    {{userinfo[0].fullname}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="main/user-profile">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
                <!--If is a single link-->
                <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                    <i class="material-icons">{{menuitem.icontype}}</i>
                    <p>{{menuitem.title}}</p>
                </a>
            </li>
        </ul>
    </div>

</div>